* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(216, 216, 214);
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}
/*************************header*********************/

.header {
    width: 100%;
    display: flex;
    background-color: white;
    padding: 10px 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.munu {
    display: flex;
}


.menu ul li{
    list-style: none;
    padding: 0;
    float: left;
    margin: 0 30px;
}

.menu ul li a {
    font-size: 20px;
}

.search {
    width: 230px;
    height: 22px;
}

.search input {
    width: 100%;
    height: 100%;
    background-image: url(/);
    padding:2px 0 2px 10px;
    background-size: contain;
}

.login a{
    font-weight: bold;
}
/**********************footer*****************/
.helps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
}

.footer ul {
    margin: 15px 40px;
}

.footer ul li {
    list-style: none;
}

.others {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
}

.others li {
    color: white;
    float: left;
    padding: 0;
}
.ellipsis,
.overflow {
    overflow: hidden
}

.clearfix:after,
.container:after,
ul:after {
    display: block;
    height: 0
}

.clearfix:after,
.container-outtitle:after,
.container:after,
ul:after {
    content: ".";
    clear: both;
    visibility: hidden
}

.container-title p a:hover,
.judicial-school-li a:hover,
.lot-li-a:hover,
.nav-wrap .main-nav li:hover .nav-a,
a,
a:hover {
    text-decoration: none
}

a,
abbr,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
cite,
dd,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
img,
ins,
label,
legend,
li,
mark,
menu,
nav,
ol,
output,
p,
s,
section,
span,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

body {
    font: 12px/1 arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 1200px;
    background: #f3f5f7;
    cursor: default
}

.collect-icon,
.container-title .float-left,
.cursor,
.lot-li,
.search-btn {
    cursor: pointer
}

li,
ol,
ul {
    list-style-type: none
}

address,
cite,
dfn,
em,
i,
var {
    font-style: normal
}

button,
input,
select,
textarea {
    outline: 0;
    border-style: none;
    font-family: arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif
}

img {
    vertical-align: middle;
    border: none
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    -webkit-appearance: none
}

.clearfix {
    zoom: 1
}

a {
    color: #333
}

a:hover {
    color: #d6363b
}

a.color-333 {
    color: #333
}

.hover-red:hover,
.red,
.red:hover,
a.color-333:hover {
    color: #d6363b
}

.p_r {
    position: relative
}

.f12 {
    font-size: 12px
}

.mt5 {
    margin-top: 5px
}

.mb8 {
    margin-bottom: 8px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt40 {
    margin-top: 40px
}

.mb18 {
    margin-bottom: 18px
}

.pr20 {
    padding-right: 20px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

li:focus {
    outline: 0
}

.container-fluid {
    width: 100%;
    background: #F2F4F6
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: block
}

.ellipsis2,
.ellipsis3,
.ellipsis5 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.nowrap {
    white-space: nowrap;
    word-break: keep-all
}

.wrap {
    white-space: normal;
    word-break: break-all
}

.ellipsis,
.lot-state-div .num-apply em,
.lot-state-div .num-auction em {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.ellipsis {
    
    word-break: keep-all
}

.ellipsis2,
.ellipsis3,
.ellipsis5,
.lot-title {
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden
}

.ellipsis2 {
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2
}

.ellipsis3 {
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3
}

.ellipsis5 {
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    -o-line-clamp: 5
}

.dis_block_parent {
    font-size: 0;
    letter-spacing: -3px
}

.dis_block_child {
    display: inline-block;
    letter-spacing: 0;
    vertical-align: top
}

.no-border {
    border: none !important
}

.color-333 {
    color: #333
}

.color-999 {
    color: #999
}

.back-red,
.color-red {
    color: #d6363b
}

.meetstate {
    font-size: 16px;
    width: 79px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    margin-left: 10px
}

.color-org {
    color: #ff9800
}

.text12-333 {
    color: #333;
    font-size: 12px
}

.text12-red {
    color: #d6363b;
    font-size: 12px
}

.text12-999 {
    color: #999;
    font-size: 12px
}

.text14-333 {
    color: #333;
    font-size: 14px
}

.text14-666 {
    color: #666;
    font-size: 14px
}

.text14-fff {
    color: #fff;
    font-size: 14px
}

.text16-red {
    color: #d6363b;
    font-size: 16px
}

.text16-333 {
    color: #333;
    font-size: 16px
}

.text14-999 {
    color: #999;
    font-size: 14px
}

.text16-org {
    color: #ff9800;
    font-size: 16px
}

.text18-333 {
    color: #333;
    font-size: 18px
}

.container-outtitle {
    margin: 0 auto;
    width: 1200px
}

.container-title {
    height: 40px;
    line-height: 40px;
    color: #666;
    float: right
}

.container-outtitle:after {
    display: block;
    height: 0
}

.container-title .link-old {
    color: #d6363b;
    margin-right: 15px
}

.container-title .login-info .shop-link {
    margin-right: 20px
}

.login-info a {
    float: left;
    font-size: 14px
}

.shop-test:hover {
    color: #666
}

.container-title p {
    text-align: right;
    float: left;
    margin-left: 10px
}

.container-title p a,
.container-title p span {
    display: inline-block;
    height: auto;
    padding: 0 0 0 9px;
    color: #333;
    font-size: 14px
}

.container-title .nologin-info p a {
    padding: 0;
    margin-left: 30px
}

.container-title p span {
    background: url(/themes/images/icon.png) right -231px no-repeat;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    min-width: 60px;
    text-align: left;
    height: 30px;
    line-height: 10px
}

.container-title p a.tipnews .mailNum {
    background-color: #bf3943;
    border-radius: 3px;
    margin-left: 6px;
    position: absolute;
    color: #fff;
    left: 5px;
    top: -6px;
    height: 22px;
    line-height: 28px
}

.container-title p a.user-register {
    padding: 0 9px;
    font-size: 12px
}

.container-title p a.tipnews {
    background: url(/themes/images/news2.png) left center no-repeat;
    padding-left: 21px;
    padding-right: 14px;
    border-right: 1px solid #d7d7d7;
    position: relative
}

.container-title p span:hover {
    background: url(/themes/images/icon.png) right -214px no-repeat
}

.container-title p span em {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    background: #fff;
    overflow: hidden;
    padding-top: 6px
}

.container-title p span em a {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    float: left;
    margin-bottom: 5px;
    padding: 0 0 0 7px;
    width: 100%;
    text-align: left
}

.container-title p span em a s {
    text-decoration: none;
    padding: 0 7px 0 3px;
    height: 26px;
    line-height: 22px;
    display: inline-block
}

.container-title p span em a:first-child s {
    border-bottom: 1px solid #ddd;
    text-align: center
}

.container-title p span em a:hover {
    color: #D77075
}

.top-banner {
    background: url(/themes/images/searchar.jpg) repeat-x #c52526;
    height: 110px
}

.other-nav li {
    float: left;
    margin: 0 15px
}

.other-nav li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px
}

.search-input {
    text-indent: 10px;
    height: 26px;
    line-height: 30px;
    vertical-align: middle;
    color: #333;
    outline: 0;
    position: relative;
    width: 100%;
    margin: 0;
    border: 1px solid #e7e7e7
}

#placeholder,
.search-btn {
    color: #b2b2b2
}

.search-input::-webkit-input-placeholder {
    color: #b2b2b2
}

.search-input:-moz-placeholder {
    color: #b2b2b2
}

.search-input::-moz-placeholder {
    color: #b2b2b2
}

.search-input::-ms-input-placeholder {
    color: #b2b2b2
}

.search-btn {
    position: absolute;
    width: 36px;
    padding: 0;
    background: url(/themes/images/newicon2.png) 0 -173px no-repeat;
    right: 0;
    top: 0;
    bottom: 0
}

.nav-con {
    background: #fff
}

.nav-con .container {
    position: relative;
    height: 69px;
    overflow: hidden
}

.other-nav {
    float: left;
    width: 88px;
    height: 34px;
    text-align: center;
    margin-right: 20px;
    line-height: 34px;
    font-size: 14px
}

.other-nav a {
    color: #333;
    font-size: 16px
}

.other-nav a:hover {
    color: #d7332d
}

.nav-search {
    position: absolute;
    right: 0;
    top: 20px
}

.other-nav li a img {
    vertical-align: middle;
    margin-top: 7px
}

.nav-search .search-form {
    width: 230px;
    height: 30px;
    position: relative;
    overflow: hidden
}

.index-nav .nav-search .search-form {
    width: 221px
}

.sifa-head .head-img {
    text-align: left;
    float: left;
    padding: 7px 0 0;
    width: 217px
}

.sifa-head .index-nav .head-img {
    width: 345px
}

.login-head.sifa-head .head-img {
    background: 0 0
}

.sifa-head .head-img .renminxin {
    width: 141px;
    margin-left: 10px;
    vertical-align: -26px
}

.nav-wrap {
    margin-left: 217px;
    padding: 20px 0;
    position: relative;
    height: 29px;
    overflow: hidden;
    width: 983px
}

.child_wrap {
    margin-left: 0
}

.main-nav {
    margin-right: 250px
}

.index-nav .nav-wrap {
    margin-left: 415px
}

.pai-xmpp-countdown .emend {
    color: #999;
    margin-left: 5px
}

.nav-wrap .main-nav li {
    float: left
}

.nav-wrap .main-nav li .nav-a {
    text-align: center;
    padding: 8px 0;
    display: inline-block;
    margin-right: 35px;
    position: relative;
    font-size: 16px;
    color: #333;
    font-weight: 400
}

.nav-wrap .main-nav li .nav-a:hover,
.nav-wrap .main-nav li.active a {
    color: #d7332d
}

.nav-wrap .main-nav li.active .nav-a:after,
.nav-wrap .main-nav li:hover .nav-a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 18px;
    background: #fff
}

.judicial-school {
    width: 100%;
    border-top: 1px solid #d7d7d7;
    background: #fff
}

.judicial-school-ul {
    float: left;
    margin: 30px 0 10px 20px;
    width: 165px
}

.judicial-school-h2 {
    font-size: 18px;
    color: #333;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 10px
}

.judicial-school-li {
    padding-left: 12px;
    margin-top: 10px;
    font-size: 14px;
    color: #666
}

.judicial-school-li a {
    font-size: 12px;
    color: #666
}

.judicial-school-li a:hover {
    color: #d6363b
}

.judicial-school .foot {
    padding: 10px 20px 0
}

.judicial-school .about-us {
    width: 165px;
    border-left: 1px solid #d7d7d7;
    padding-left: 50px
}

.about-us .judicial-school-li span {
    display: block;
    text-indent: 4rem
}

.sifa-foot {
    background: #333;
    width: 100%
}

.sifa-foot-p {
    border-top: 0;
    margin-top: 0;
    color: #666;
    text-align: center;
    line-height: 20px;
    padding: 20px 0
}

.sifa-foot-s {
    padding: 0 20px;
    color: #999;
    font-size: 12px
}

.auction-interaction {
    width: 480px;
    position: relative;
    top: 0
}

.auction-container {
    height: 60px;
    background: #fff;
    position: relative
}

.auction-process {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 60px;
    text-align: center;
    background-color: #d6363b;
    margin: 0;
    font-size: 24px;
    color: #fff;
    padding: 20px 0;
    line-height: 30px
}

.auction-process:hover {
    color: #fff
}

.auction-step-container {
    padding: 0 50px;
    overflow: hidden
}

.auction-process-step {
    float: left;
    width: 120px;
    padding-left: 39px;
    height: 53px;
    padding-top: 7px;
    text-align: left;
    background: url(img/10.jpg) 149px center no-repeat;
    padding-right: 40px;
    position: relative
}

.auction-container .auction-process-step:last-child {
    background: 0 0
}
*/*******************/*
.auction-process-step div:hover .auction-process-step-a {
    color: #d6363b
}

.auction-process-step-a {
    font-size: 16px;
    color: #333;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    text-indent: 34px
}

.auction-process-step .num {
    margin-left: 0;
    width: 30px;
    height: 24px;
    color: #999;
    line-height: 24px;
    text-indent: 0
}

.auction-process-step div:hover .auction-process-step .num {
    background: url(/themes/images/newicon2.png) -30px -273px no-repeat
}

.auction-process-step-li {
    margin-bottom: 12px
}

.auction-process-step-a2 {
    font-size: 16px;
    color: #424242
}

.help-tip {
    background: #e7e7e7;
    color: #999;
    display: block;
    width: 40px;
    line-height: 16px;
    padding: 17px 10px 0 15px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0
}

.help-tip:hover {
    color: #d6363b
}

.lots-list {
    margin-right: -20px
}

.lot-li {
    float: left;
    margin: 20px 20px 0 0;
    background: #fff;
    position: relative
}

.attention_p,
.attention_pac {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 22px;
    margin-right: 20px;
    font-size: 14px;
    float: right
}

.lot-li:hover .attention_box {
    opacity: 1
}

.attention_box {
    width: 100%;
    position: absolute;
    height: 30px;
    left: 0;
    top: 160px;
    background: rgba(51, 51, 51, .8);
    z-index: 99;
    opacity: 0;
    transition: all .3s ease
}

.lot-header-section,
.lot-li-a {
    display: block;
    position: relative
}

.attention_p {
    background: url(../../images/follow_whitechecked.png) left center no-repeat
}

.attention_pac {
    background: url(../../images/follow_unchecked.png) left center no-repeat
}

.lot-li-a:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2)
}

.lot-li-a {
    width: 285px;
    transition: all .6s ease
}

.lot-header-section {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 190px;
    line-height: 190px
}

.lot-pic {
    vertical-align: top;
    width: 100%;
    max-height: 100%
}

.lot-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    color: #333;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    text-align: left;
    padding: 0 10px;
    margin: 10px 0
}

.lot-title:hover {
    color: #d6363b
}

.lot-li-a .info-section {
    color: #333;
    display: block;
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 6px;
    text-align: left
}

.price .label {
    vertical-align: 2px
}

.lot-li-a .price {
    margin-bottom: 6px;
    height: 21px;
    line-height: 21px
}

.lot-current-price {
    color: #333;
    padding-left: 6px;
    font-size: 18px
}

.price-todo .lot-current-price {
    color: #0ab86c
}

.price-current .lot-current-price,
.price-done .lot-current-price {
    color: #d6363b
}

.pai-xmpp-current-price {
    color: #d6363b;
    font-size: 24px
}

.f24 {
    font-size: 24px
}

.lot-price-assess,
.lot-time {
    line-height: 20px;
    height: 20px
}

.lot-li-a .value {
    color: #333;
    font-size: 14px
}

.lot-state-div {
    zoom: 1;
    clear: none !important;
    border-top: 1px solid #eee;
    width: 100%;
    height: 38px;
    line-height: 38px
}

.flag-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 190px;
    display: none
}

.lot-state-div .num-apply,
.lot-state-div .num-auction {
    color: #666;
    float: right;
    padding-left: 10px;
    margin: 0
}

.lot-state-div .num-auction {
    padding-left: 0;
    margin-right: 10px
}

.lot-state-div .num-apply {
    float: left;
    font-size: 12px
}

.lot-state-div .num-apply em,
.lot-state-div .num-auction em {
    padding: 0 0 0 20px;
    overflow: hidden;
    text-align: right;
    word-break: keep-all
}

.lot-state-div .num-auction input {
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    line-height: 20px;
    text-align: center
}

.lot-state-div .num-auction input.now {
    background: #d6363b
}

.lot-state-div .num-auction div.start {
    background: #0ab86c;
    width: 120px;
    height: 38px;
    font-size: 16px;
    padding: 2px 0 0;
    color: #fff;
    line-height: 18px;
    text-align: center
}

.lot-state-div .num-auction div.start span {
    display: inline-block;
    line-height: 36px
}

.lot-state-div .num-auction input.finish {
    background: #d7d7d7
}

.lot-state-div .num-auction input.start {
    background: #05a981
}

.lot-li-a .flag-section .flag-doing,
.lot-li-a .flag-section .flag-todo {
    width: 70px;
    height: 23px;
    position: absolute;
    right: -4px;
    bottom: 45px
}

.lot-li-a .flag-section .flag-doing {
    background-image: url(/images/flagsection.png);
    background-repeat: no-repeat;
    background-position: 0 0
}

.lot-li-a .flag-section .flag-todo {
    background-image: url(/images/flagtodo.png);
    background-repeat: no-repeat;
    background-position: 0 0
}

.lot-li-a .flag-section .flag-done {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #DBD6D3;
    opacity: .6;
    filter: alpha(opacity=60)
}

.lot-li-a .flag-section p {
    width: 134px;
    height: 54px;
    border: 3px solid #f2f2f2;
    color: #f2f2f2;
    display: inline-block;
    position: absolute;
    left: 25%;
    font-weight: 700;
    top: 65px;
    font-size: 16px;
    text-align: center;
    line-height: 54px
}

.lot-li-a .tag-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    zoom: 1;
    clear: none !important
}

.lot-li-a .tag-section .pai-tag {
    position: relative;
    float: right;
    margin-right: 2px;
    width: 45px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px
}

.lot-li-a .tag-section .tag-buy-restrictions {
    background: #48b800;
    color: #fff
}

.lot-li-a .tag-section .pai-tag em {
    position: absolute;
    width: 45px;
    height: 23px;
    left: 0;
    font-style: normal
}

.lot-li-a .tag-section .tag-support-loans,
.lot-li-a:hover .tag-section .tag-support-loans {
    background: red;
    color: #fff
}

.lot-li-a .tag-section .tag-support-loans em {
    top: -1px;
    color: #8c6d00
}

.enterprises-img {
    float: left;
    width: 50px;
    text-align: center;
    line-height: 50px
}

.enterprises-img img {
    width: 50px;
    height: 50px;
    border-radius: 4px
}

.enterprises-info {
    margin-left: 64px
}

.enterprises-name {
    padding-top: 17px;
    font-size: 14px;
    color: #666
}

.enterprises-num {
    margin-top: 10px;
    color: #999
}

.index-meet,
.other-meet {
    width: 917px;
    height: 200px;
    margin-top: 15px;
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: all .6s ease
}

.index-meet:hover,
.other-meet:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2)
}

.index-meet.no-meetlist:hover,
.other-meet.no-meetlist:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.meeting-wrap .no-meetlist,
.no-noticelist {
    background: 0 0;
    margin: 100px 0;
    text-align: center;
    font-size: 24px;
    width: 100%
}

.meeting-wrap .img-wrap {
    width: 590px;
    height: 200px;
    float: left;
    overflow: hidden
}

.meeting-wrap .img-wrap img {
    width: 100%
}

.meeting-wrap .img-wrap .auc-noimg {
    width: 590px;
    height: auto;
    max-height: none
}

.other-meet .img-wrap .auc-noimg {
    width: 810px
}

.other-wrap {
    text-align: left;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    top: 0
}

.meeting-type {
    width: 60px;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: center
}

.meetingtitle {
    font-size: 18px
}

.active .meeting-type,
.index-meet .meeting-type,
.other-meet .meeting-type {
    font-size: 12px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    width: 50px;
    color: #fff
}

.index-meet .people-lot {
    left: 590px
}

.index-meet .meetingtitle {
    float: none;
    margin: 0
}

.index-meet .meeting-type,
.other-meet .meeting-type {
    background: #ff9100
}

.active .meeting-type {
    background: #00bfa5;
    display: inline-block
}

.meeting-info .titlep {
    height: 22px;
    line-height: 22px;
    margin-bottom: 10px
}

.active .meeting-type.aaa {
    margin-top: 0;
    margin-left: 0
}

.meeting-info {
    margin-left: 590px;
    height: 170px;
    padding: 20px 0 0 15px;
    position: relative
}

.index-meet .meeting-info .p2 img {
    vertical-align: -2px;
    margin-right: 10px
}

.meeting-info .onlooker {
    margin: 36px 0 12px
}

.meet-btn {
    padding: 30px 0 0;
    overflow: hidden
}

.meet-btn a {
    text-align: center
}

.meeting-btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    background: #d6363b;
    color: #fff;
    display: inline-block;
    margin-right: 15px
}

.meeting-btn:hover {
    color: #fff;
    background-color: #c93e45
}

.meeting-info .time-background {
    margin-top: 30px;
    line-height: 20px
}

.people-lot {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 810px;
    background: #e7e7e7;
    color: #666
}

.people-tab {
    width: 50%;
    float: left;
    line-height: 30px;
    text-indent: 30px
}

.index-meet .people-tab {
    line-height: 24px;
    text-indent: 15px
}

.collect {
    height: 36px;
    position: absolute;
    right: 340px;
    top: 10px;
    z-index: 1000
}

.enterstyle .collect-icon {
    display: block
}

.collect-icon {
    width: 35px;
    height: 35px;
    float: right;
    display: none
}

.is-collect,
.meeting-ul li .is-collect {
    display: block
}

.is-collect {
    background: url(/themes/images/newicon2.png) -60px 0 no-repeat
}

.no-collect {
    background: url(/themes/images/newicon2.png) -124px 0 no-repeat
}

.collect-title {
    text-align: center;
    line-height: 31px;
    padding: 0 8px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #fff;
    margin-top: 0;
    display: none
}

.collect-title .triangle {
    background-color: #FFF;
    border-color: #FFF;
    overflow: hidden;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 13px;
    right: 41px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -6px\9;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=.7071067811865476,
            M12=-.7071067811865475, M21=.7071067811865475, M22=.7071067811865476,
            SizingMethod='auto expand')
}

.auction-list-wrap {
    padding-bottom: 50px
}

.pagination {
    text-align: center;
    margin: 50px 0
}

.pagination .break,
.pagination .current,
.pagination .next,
.pagination .previous,
.pagination a,
.personnew .pagination .break,
.personnew .pagination .route {
    width: 40px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    border: 1px solid #d7d7d7;
    border-right: none
}

.pagination .next {
    border-right: 1px solid #d7d7d7
}

.pagination .break {
    line-height: 22px
}

.pagination span.unavailable {
    cursor: not-allowed;
    background-color: #e7e7e7
}

.pagination .previous {
    background: url(/themes/images/icon.png) -40px -172px no-repeat #fff
}

.pagination .arrow-right {
    background: url(/themes/images/icon.png) -20px -172px no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px
}

.pagination span.current {
    color: #fff;
    background-color: #d6363b;
    border-color: #d6363b
}

.pagination .page-skip {
    padding-top: 0;
    padding-bottom: 0
}

.pagination .page-skip .page-total {
    margin-left: 3px;
    margin-right: 3px
}

.pagination .page-skip button {
    width: 60px;
    height: 40px;
    border: 0;
    background-color: #d91615;
    color: #fff;
    cursor: pointer;
    margin-left: 5px
}

.pagination-input-wrap {
    display: inline-block;
    padding-left: 15px
}

.pagination-input {
    margin: 0 6px;
    width: 32px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d7d7d7;
    padding: 0;
    text-align: center
}

.pagination-input.active {
    border-color: #d6363b
}

.pagination .pagination-go {
    width: 49px;
    height: 28px;
    border-radius: 2px;
    background-color: #d6363b;
    color: #fff;
    border: none;
    margin-left: 16px;
    cursor: pointer
}

.company_auctionmeeting_list .acction_news {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 2px
}

.company_auctionmeeting_list .acction_news p {
    font-size: 14px;
    line-height: 30px
}

.company_auctionmeeting_list .acction_news p span:first-child {
    color: #999
}

.company_auctionmeeting_list .acction_news p span:last-child {
    font-size: 16px
}

.colorred {
    color: #d6363b !important
}

a.colorred:hover {
    text-decoration: underline
}

.company_auctionmeeting_list .btn_tips {
    width: 200px;
    height: 40px;
    background: #d6363b;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 40px;
    text-align: center
}

.company_auctionmeeting_list {
    position: relative;
    margin: 0 auto;
    width: 1200px
}

.company_auctionmeeting_list img {
    width: 590px
}

.company_auction_list_box {
    width: 1200px
}

.meeting-wrap li .meeting-type.aaa {
    margin-left: 0;
    margin-top: 0
}

.meeting-wrap .other-meet {
    width: 1200px;
    margin: 0 0 20px;
    background: #fff;
    float: left;
    height: 283px;
    position: relative
}

.meeting-wrap .other-meet .img-wrap {
    width: 810px;
    height: 283px;
    z-index: 100
}

.meeting-info .p1 {
    margin-top: 10px;
    margin-bottom: 15px
}

.other-meet .meeting-info {
    margin-left: 810px;
    height: auto;
    position: relative;
    overflow: hidden
}

.index-meet .meet-btn {
    position: absolute;
    left: 605px;
    bottom: 40px;
    padding: 0 10px 0 0
}

.other-meet .meet-btn {
    position: absolute;
    left: 825px;
    bottom: 60px;
    padding: 0 10px 0 0
}

.end-meet {
    width: 90px;
    height: 62px;
    position: absolute;
    right: 20px;
    bottom: 37px;
    background: url(/themes/images/meet-end.png) no-repeat;
    display: none
}

.other-meet .end-meet {
    bottom: 62px
}

.company_auction_temple {
    width: 585px;
    margin-right: 30px;
    background: #fff;
    margin-bottom: 20px;
    cursor: pointer
}

.company_auction_temple .collect {
    top: 207px
}

.company_tit {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    height: 30px;
    line-height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px
}

.time-content li.active p,
.time-content li:hover p {
    color: #d6363b
}

.company_tit .txt {
    float: left;
    display: block;
    padding: 0 3px;
    background: #00bfa5
}

.data_list {
    float: left
}

.company_tit .num {
    float: right;
    display: block;
    padding: 0 15px 0 0
}

.time-chose {
    position: relative;
    height: 60px;
    overflow: hidden;
    background: #FFF
}

.time-left,
.time-right {
    background-image: url(/themes/images/newicon2.png);
    z-index: 10;
    width: 20px;
    height: 100%;
    background-color: #e7e7e7;
    position: relative;
    cursor: pointer;
    display: block
}

.time-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: -20px 0
}

.time-content {
    margin: 0 20px;
    height: 100%;
    background: #fff;
    position: relative;
    width: 10000px
}

.time-content li {
    float: left;
    width: 125px;
    height: 40px;
    margin: 15px 0 0;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    cursor: pointer
}

.time-num {
    margin-top: 8px
}

.foot p {
    border-top: 0;
    margin-top: 0;
    color: #666;
    text-align: center;
    line-height: 20px;
    padding: 10px 0 25px
}

.foot p span {
    padding: 0 20px;
    color: #999;
    font-size: 12px
}

.sf-foot {
    width: 100%;
    border-top: 1px solid #ddd;
    background: #d7d7d7
}

.sf-footdiv {
    width: 1200px;
    margin: 0 auto
}

.sf-footdiv ul {
    float: left;
    margin: 28px 0 10px 50px;
    width: 210px
}

.sf-footdiv h2 {
    font-size: 18px;
    color: #333;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    padding-bottom: 24px
}

.sf-footdiv li,
.sf-footdiv li a {
    font-size: 14px;
    color: #666
}

.sf-footdiv li {
    padding-left: 12px;
    height: 30px;
    line-height: 30px
}

.sf-footdiv li a:hover {
    color: #d6363b;
    text-decoration: none
}

.sifa-foot .foot {
    padding: 10px 20px 0
}

#showsum p img {
    width: 100%
}

#moveposition {
    position: absolute;
    left: 220px;
    top: 0;
    display: none;
    z-index: 5;
    width: 200px;
    height: 140px;
    background: url(/themes/images/whitebg.png)
}

#showbox,
.browser {
    z-index: 1000
}

#showsum p span.current {
    border: 2px solid #d6363b;
    width: 66px;
    height: 42px;
    border-radius: 2px
}

#showsum p span {
    margin: 0 15px 0 0;
    width: 70px;
    height: 46px;
    border: 1px solid #e5e5e5;
    overflow: hidden
}

.showimg {
    display: block;
    width: 420px;
    height: 280px;
    border-radius: 2px
}

#bigpicshow {
    position: absolute;
    overflow: hidden;
    top: 0;
    display: none;
    width: 420px;
    height: 294px;
    left: 430px
}

#bigpicshow img {
    max-width: none;
    max-height: none;
    position: relative;
    left: -462px;
    top: 0;
    width: 840px;
    height: 560px
}

.browser,
.main-img {
    left: 0;
    top: 0
}

#showbox,
.main-img {
    height: 280px;
    width: 420px;
    position: relative
}

#showsum {
    overflow: hidden;
    width: 420px;
    margin-bottom: 30px;
    position: relative
}

#showsum p {
    margin-right: -20px;
    height: 48px;
    overflow: hidden
}

#showsum .dis_block_parent {
    width: 435px
}

#showsum img {
    height: 48px;
    width: 72px
}

.browser {
    position: fixed;
    right: 0;
    bottom: 0
}

.browser-diolag {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, .2);
    filter: alpha(opacity=20)
}

.browser-content {
    position: absolute;
    left: 50%;
    right: 0;
    top: 268px;
    bottom: 0;
    margin-left: -274px;
    width: 548px;
    height: 268px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    background: url(/themes/images/newicon2.png) 30px -598px no-repeat #fff
}

.browser-text {
    padding: 50px 38px 30px 138px
}

.browser-text .not-allowed {
    color: #d6363b;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px
}

.browser-text .recommed {
    color: #666;
    font-size: 14px;
    line-height: 24px
}

.browser-text .allowed {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px
}

.browser-text .btn-cancel {
    width: 136px;
    height: 40px;
    margin-left: 68px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #d6363b;
    color: #d6363b
}

.no-notice {
    font-size: 24px;
    text-align: center;
    padding: 200px;
    display: block
}

.no-lotdetail {
    border: 1px solid #d7d7d7
}

.mr0 {
    padding-right: 0;
    width: 66px
}

.auction-process-step:hover .auction-process-step-a2,
.auction-process-step:hover .num {
    color: #d6363b
}

.auction-process:visited,
.meet-btn a:visited {
    color: #fff
}

.icon_step {
    position: absolute;
    left: -7px;
    top: 12px;
    display: inline-block;
    width: 35px;
    height: 44px
}

.icon_step1 {
    background: url(/themes/images/step_icon.png) 1px 4px no-repeat
}

.icon_step2 {
    background: url(/themes/images/step_icon.png) -31px 4px no-repeat
}

.icon_step3 {
    background: url(/themes/images/step_icon.png) -64px 4px no-repeat
}

.icon_step4 {
    background: url(/themes/images/step_icon.png) -98px 4px no-repeat
}

.icon_step5 {
    background: url(/themes/images/step_icon.png) -133px 4px no-repeat
}

.icon_step6 {
    background: url(/themes/images/step_icon.png) -166px 4px no-repeat
}

.auction-process-step:hover .icon_step1 {
    background: url(/themes/images/step_icon.png) 1px -35px no-repeat
}

.auction-process-step:hover .icon_step2 {
    background: url(/themes/images/step_icon.png) -31px -35px no-repeat
}

.auction-process-step:hover .icon_step3 {
    background: url(/themes/images/step_icon.png) -64px -35px no-repeat
}

.auction-process-step:hover .icon_step4 {
    background: url(/themes/images/step_icon.png) -98px -35px no-repeat
}

.auction-process-step:hover .icon_step5 {
    background: url(/themes/images/step_icon.png) -133px -35px no-repeat
}

.auction-process-step:hover .icon_step6 {
    background: url(/themes/images/step_icon.png) -166px -35px no-repeat
}

.has-video,
.isnews {
    background: #d6363b;
    color: #fff;
    font-size: 12px
}

.auction-list-wrap,
.enterprises-list-wrap,
.lots-list-wrap,
.notice-contents {
    overflow: hidden
}

.table-style td,
.table-style th {
    border: 1px solid #dcdcdc;
    border-collapse: collapse
}

.table-style table {
    border-collapse: collapse
}

.new-icon {
    position: relative;
    padding-left: 35px
}

.isnews {
    position: absolute;
    padding: 0 3px;
    margin-left: -35px;
    border-radius: 3px
}



.has-video {
    display: none;
    text-align: center
}

.side-custom,
.side-top,
.side-wx {
    background-position: center center;
    background-repeat: no-repeat
}

.meeting-ul .has-video {
    width: 60px;
    right: 50px;
    top: 0;
    position: absolute;
    line-height: 20px
}

.side-menu {
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 99
}

.side-block {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: #999;
    border-radius: 4px
}

.side-custom {
    background-image: url(/themes/images/side-custom.png);
    border-radius: 4px
}

.side-wx {
    background-image: url(/themes/images/side-wx.png);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px
}

.side-top {
    background-image: url(/themes/images/side-top.png);
    margin-top: 30px
}

.side-block:hover {
    background-color: #fc5e63
}

.toorbar-text {
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 1000px;
    top: 0;
    background-color: #999;
    border-radius: 4px 0 0 4px
}

.toorbar-text:hover {
    color: #fff
}

.side-block:hover .toorbar-text {
    left: -67px;
    background-color: #fc5e63
}

.toor-wx {
    padding: 10px 10px 4px;
    width: 150px;
    height: 170px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    text-decoration: none;
    border-radius: 4px;
    left: -180px
}

.side-block:hover .toor-wx {
    left: -180px;
    background-color: #fff
}

.toor-wx-img {
    width: 150px;
    height: 150px;
    margin-bottom: 6px;
    display: block
}

.toor-wx-tit {
    font-size: 12px;
    color: #666;
    line-height: 16px
}

.toor-wx:after {
    display: inline-block;
    content: "";
    position: absolute !important;
    right: -11px;
    top: 7px;
    border: 8px solid transparent;
    border-width: 8px 6px;
    border-color: transparent transparent transparent #fff
}

.detail-wx {
    position: fixed;
    right: 0;
    top: 40%;
    width: 100px;
    height: 118px;
    padding: 10px 0;
    text-align: center;
    display: none
}

.detail-wx-img {
    width: 80px;
    height: 80px;
    margin: 0 10px 6px
}

.meet-special {
    display: none;
    font-size: 18px;
    color: #666;
    margin-top: 40px
}

.N_box {
    display: inline-block;
    width: 15px;
    height: 19px;
    padding: 5px 6px;
    position: relative !important;
    top: -14px !important;
    left: -38px !important;
    background: #d6363b
}

.meeting-info p {
    margin-bottom: 11px
}

.new_nav {
    width: 100%;
    background: url(/themes/images/navback.png);
    background-size: 100% 100%
}

.nav_titlebox {
    width: 100%;
    overflow: hidden
}

.nav_title {
    float: left;
    border-bottom: 1px solid rgba(246, 246, 248, 1)
}

.nav_title li {
    float: left;
    width: 130px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
    border-top: 2px solid #fff;
    border-right: 1px solid rgba(246, 246, 248, 1)
}

.new_logo,
.new_nav .nav-wrap {
    width: 100%
}

.nav_title li:hover,
.newnav_avtive {
    background: #E0E2E3 !important;
    border-top: 2px solid #C54541 !important
}

.nav_title li a {
    color: #999;
    width: 100%;
    height: 100%;
    display: block
}

.newnav_avtive a {
    color: #C64438 !important
}

.nav_number {
    float: right;
    font-size: 18px;
    color: #fff;
    height: 30px;
    line-height: 30px
}

.new_logo {
    height: 86px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
   
    padding: 10px 0
}

.new_logo p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    height: 75px;
    line-height: 75px
}

.nav_title li:hover a {
    color: #C64438 !important
}

.shop-test {
    font-size: 14px
}

.new_logo p {
    background-size: 50px 50px;
    padding-left: 84px;
    margin-top: 6px
}

.new_nav .nav-wrap .main-nav li .nav-a:hover,
.new_nav .nav-wrap .main-nav li a,
.new_nav .nav-wrap .main-nav li.active a,
.new_nav .other-nav a {
    color: #fff
}

.new_nav .nav-con {
    background: #d6363b
}



#right_table,
.kui_txt_hide {
    display: none
}

.kui_d_pane {
    position: absolute;
    width: 210px;
    margin: 0;
    z-index: 9999
}

.kui_data_content_pane {
    width: 210px;
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    left: 0;
    z-index: 100;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2)
}

.kui_data_content_pane a:link,
.kui_data_content_pane a:visited {
    color: #222;
    text-decoration: none;
    font-weight: 900
}

.kui_data_content_pane a:hover {
    color: #fff
}

.kui_date_reset {
    border-top: 1px #2092D6 dotted;
    clear: both;
    margin: 3px;
    padding: 3px;
    text-align: right
}

.kui_date_reset span {
    cursor: pointer;
    background: #2192D6;
    color: #FFF;
    padding: 2px 5px;
    margin-left: 3px
}

.kui_prev_next_month {
    height: 30px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    padding-top: 1px;
    background: #d6363b
}

.kui_next_m,
.kui_prev_m {
    height: 20px;
    margin-top: 4px
}

.kui_prev_m,
.kui_today {
    float: left
}

.kui_prev_m {
    width: 12px;
    background: url(/themes/images/newicon2.png) right -156px no-repeat;
    margin-left: 13px
}

.kui_today,
.kui_tomorrow {
    width: 148px;
    text-align: center;
    color: #fff;
    cursor: default
}

.kui_tomorrow {
    float: right;
    display: none
}

.kui_next_m {
    float: right;
    margin-right: 12px;
    width: 12px;
    background: url(/themes/images/newicon2.png) right -115px no-repeat
}

.kui_data_tab,
.kui_date_info {
    overflow: hidden
}

dl.kui_data_tab dt {
    font-weight: 400
}

.kui_data_tab dt,
.kui_date_info dt {
    line-height: 30px;
    height: 30px;
    text-align: center;
    cursor: default;
    background: #EDECEC;
    font-size: 14px;
    width: 30px;
    float: left
}

.d_th_bg {
    color: #d6363b
}

.kui_date_info dt {
    background: #fff;
    color: #333
}

.kui_date_info .kui_td_kong {
    background: #fff;
    cursor: default
}

.kui_time_pane {
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    margin-bottom: 4px;
    padding-bottom: 1px;
    background: url(date_top.png) 4px 0 no-repeat
}

.kui_clean_btn {
    float: left;
    padding-left: 6px
}

.kui_close_btn {
    float: right;
    padding-right: 6px
}

.kui_time {
    float: left;
    padding-left: 8px
}

.kui_time input {
    width: 17px;
    padding: 1px;
    line-height: 12px;
    height: 12px;
    margin-right: 2px;
    margin-top: 2px
}

.kui_date_info .td_select {
    background: #d6363b;
    color: #fff;
    border-radius: 50%
}

.kui_date_info .td_hover {
    color: #d6363b;
    cursor: pointer
}

.td_select.td_hover {
    color: #fff
}

dl.kui_date_info .kui_td_hui {
    background: #fff;
    cursor: default;
    color: #DBDBDB;
    font-weight: 400
}

a img {
    border: 0
}

#left_table,
#right_table {
    float: left;
    width: 100%;
    overflow: hidden
}

#left_table {
    border-right: 1px solid #6793BC
}

.iptgroup li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    position: static
}

.iptgroup li .ipticon {
    border: 1px solid #d3d3d3;
    background: url(/themes/images/newicon2.png) right -69px no-repeat;
    width: 153px;
    height: 28px;
    margin: 0;
    padding: 0;
    text-indent: 6px;
    border-radius: 4px;
    line-height: 28px
}

.auction-filter {
    margin-top: 20px
}

.auction-filter-line {
    border-bottom: 1px solid #d6d6d6;
    position: relative;
    background: #fff
}

.auction-filter-line .auction-filter-key {
    float: left;
    width: 120px;
    color: #999;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}

.auction-filter-value {
    margin-left: 120px
}

.value-no-limited {
    float: left;
    width: 90px;
    line-height: 40px;
    text-align: center
}

.auction-filter-line .value-no-limited a {
    padding-right: 3px;
    padding-left: 0;
    color: #656565
}

.auction-status .value-limited a span,
.auction-way .value-limited a span {
    margin-right: 30px
}

.value-no-limited a.active span,
.value-no-limited.active span {
    color: #e11a1a !important
}

.value-limited {
    padding-left: 90px
}

.auction-court .value-limited li {
    width: 90px
}

.auction-type .value-limited li {
    width: 120px
}

.auction-locus .value-limited li {
    width: 140px
}

.value-limited li {
    display: inline-block;
    margin: 0 -3px;
    position: relative;
    vertical-align: top;
    z-index: 2
}

.value-limited li a {
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
    border: 1px solid transparent;
    border-bottom: none;
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #656565;
    text-decoration: none
}

.value-limited li a:hover {
    color: #cd0000
}

.value-limited li a i {
    display: inline-block;
    width: 7px;
    height: 4px;
    margin-left: 5px;
    background: url(/themes/images/icon.png) 0 -106px no-repeat
}

.value-limited li.active a i {
    background-position: 0 -109px
}

.value-limited li a.no-allowed,
.value-limited li a.no-allowed:hover {
    color: #bbb;
    cursor: not-allowed
}

.value-limited a.active span,
.value-limited li.active .limited-value-list span {
    color: #e11a1a !important
}

.sub-value {
    margin-left: 0;
    background-color: #f6f6f6;
    width: 928px;
    position: relative;
    top: -1px;
    display: none
}

.auction-court .value-limited li.active .sub-value,
.auction-locus .value-limited li.active .sub-value,
.auction-type .value-limited li.active .sub-value {
    display: block
}

.sub-value .value-no-limited {
    margin-top: 0;
    width: 50px;
    padding-right: 15px
}

.sub-value li a {
    border: 0
}

.sub-value .value-limited {
    padding-left: 50px
}

.auction-court li.active .limited-value-list,
.auction-locus li.active .limited-value-list,
.auction-type li.active .limited-value-list {
    background: #f6f6f6;
    border-bottom: none
}

.sub-value .value-limited li {
    padding-right: 15px;
    width: auto
}

.filter-end-show .filter-fixed {
    margin: 20px 0 0;
    background-color: #eee;
    z-index: 10
}

.filter-end-show .filter-fixed li {
    color: #666;
    float: left;
    min-width: 125px;
    height: 26px;
    position: relative;
    line-height: 26px;
    padding: 7px 15px;
    border-right: 1px solid #dbdbdb
}

.filter-end-show .filter-fixed .count {
    color: #d91615
}

.filter-end-show .filter-fixed li .chose {
    width: 130px;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    position: relative;
    display: block;
    color: #666;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dedede;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 12
}

.filter-end-show .filter-fixed li .chose i {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -1px;
    width: 7px;
    height: 4px;
    background: url(/themes/images/icon.png) 0 -106px no-repeat;
    text-indent: -999em
}

.filter-end-show .filter-fixed li .chose-stage {
    width: 160px
}

.price-input {
    position: relative;
    width: 190px
}

.price-input-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    padding: 7px 15px
}

.price-input.hover .price-input-wrap {
    background: #fff;
    margin: -1px;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    width: 256px;
    z-index: 9
}

.filter-selecct.chose-num a,
.provide-money a {
    display: inline-block;
    color: #666;
    margin-right: 10px
}

.filter-selecct.chose-num a span,
.provide-money a span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(/themes/images/icon.png) -71px -100px no-repeat
}

.filter-selecct.chose-num a span.input-is-checked,
.provide-money a span.input-is-checked {
    background-position: -56px -100px
}

.price-input input[type=text] {
    color: #666;
    padding: 3px 0 3px 5px;
    margin: 0 2px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #dedede;
    background-color: #fff;
    vertical-align: middle
}

.price-input input[type=submit] {
    width: 40px;
    color: #666;
    height: 24px;
    margin-left: 2px;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid #dedede;
    background-color: #f6f6f6;
    box-sizing: content-box;
    vertical-align: middle;
    display: none
}

.price-input.hover input[type=submit] {
    display: inline-block
}

.price-input span {
    display: inline-block;
    vertical-align: middle
}

.content-gap {
    width: 200px
}

.content-sort a {
    display: inline-block;
    color: #666;
    margin-right: 10px
}

.content-sort a.active {
    color: #d91615
}

.content-sort .arrow-toggle span {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(/themes/images/icon.png) no-repeat;
    vertical-align: -3px;
    margin-left: 3px
}

.content-sort .arrow-toggle .arrow-down {
    background-position: -122px -81px
}

.content-sort .arrow-toggle.active .arrow-down,
.content-sort .arrow-toggle:hover .arrow-down {
    background-position: -122px -93px
}

.content-sort .arrow-toggle .arrow-up {
    background-position: -134px -81px
}

.content-sort .arrow-toggle.active .arrow-up,
.content-sort .arrow-toggle:hover .arrow-up {
    background-position: -134px -93px
}

.content-sort .arrow-toggle:hover {
    color: red
}

.filter-end-show .filter-fixed .content-sort {
    border-right: 0;
    float: right;
    border-left: 1px solid #dbdbdb
}

.court-filter {
    margin: 18px auto 20px;
    height: 50px;
    z-index: 999;
    position: static
}

.court-filter .index-title {
    width: 205px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    text-align: center;
    float: left;
    font-size: 16px;
    color: #999;
    font-weight: 700;
    border-right: none
}

.court-filter .index-letter {
    height: 50px;
    line-height: 50px;
    margin-left: 205px;
    background-color: #fff
}

.court-filter .index-letter li {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px
}

.court-filter .index-letter li a {
    width: 35px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #333;
    font-weight: 700
}

.court-filter .index-letter li a.active {
    background-color: #d6363b;
    color: #fff;
    border-radius: 50%;
    border-right-width: 0
}

.court-filter .index-letter li a.last-z {
    border-right: 0
}

.court-content ul {
    border-bottom: none
}

.court-content ul li {
    position: relative;
    border-bottom: 1px solid #ededed;
    padding-bottom: 14px;
    background: #fff
}

.court-content {
    margin-bottom: 40px;
    min-height: 400px
}

.notice-detail-wrap {
    margin-bottom: 40px;
    position: relative
}

.court-content ul li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.court-content .letter-btn {
    color: #d5d5d5;
    background-color: #eee;
    width: 1200px;
    line-height: 30px
}

.court-content .letter-btn.active span {
    color: #d6363b
}

.court-content .letter-btn span {
    font-size: 24px;
    display: inline-block;
    font-weight: 600;
    color: #c93e45;
    height: 30px;
    margin-left: 18px
}

.court-province-wrap {
    overflow: hidden;
    border-top: 1px solid #d7d7d7
}

.court-province-wrap:first-child {
    border-top: 0
}

.court-province-wrap .court-province {
    font-size: 24px;
    color: #333;
    font-family: Microsoft YaHei, SimSun;
    margin: 20px 0 16px 30px;
    height: 24px;
    line-height: 24px
}

.court-province-wrap .court-province a {
    color: #333
}

.court-province-wrap .court-province a:hover {
    color: #d6363b
}

.court-province-wrap .court-citys {
    margin-bottom: 16px;
    width: 1200px
}

.court-province-wrap .court-citys .court-city {
    line-height: 24px;
    margin-bottom: 15px;
    padding-left: 30px
}

.court-city .court-city-name {
    font-size: 12px;
    font-weight: 700;
    color: #999;
    float: left;
    width: 212px;
    height: 24px;
    text-align: right;
    padding-right: 20px
}

.court-city .court-city-countys {
    float: left;
    width: 935px
}

.court-city-countys .court-county {
    width: 212px;
    padding-right: 20px;
    text-align: left;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.court-city-countys .court-county a {
    color: #333
}

.court-city-countys .court-county a:hover {
    color: #d6363b
}

.court-city-countys .large-county {
    width: 100%
}

.court-city-countys .court-county span {
    color: #999;
    margin-left: 3px
}

.filter-fixed .court-list-wrap,
.filter-fixed .filter-selecct {
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    z-index: 11;
    color: #666
}

.filter-fixed .filter-selecct {
    position: absolute;
    top: 32px;
    left: 15px;
    padding: 8px;
    display: none
}

.filter-fixed .filter-selecct.chose-num {
    width: 350px
}

.filter-fixed .court-select {
    width: 662px
}

.filter-fixed-show>li.active .filter-selecct {
    display: block
}

.filter-end-show .filter-fixed-show>li.active .chose i {
    margin-top: -2px;
    background-position: 0 0
}

.filter-fixed .court-list-wrap {
    margin-top: 5px;
    height: 190px;
    overflow: auto
}

.filter-fixed .court-list {
    padding: 13px 0 3px 18px;
    background-color: #fff
}

.provice-court {
    margin-bottom: 10px;
    border-bottom: 1px dotted #cbcbcb;
    padding: 3px 0
}

.filter-fixed .court-list ul li {
    float: left;
    width: 198px;
    margin-bottom: 10px;
    margin-right: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
    border-right: 0;
    height: 18px;
    line-height: 18px
}

.sf-empty {
    margin: 200px auto;
    text-align: center
}

.sf-empty p {
    text-align: center;
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
    line-height: 24px
}

.value-limited .time-warp {
    position: relative;
    width: 760px;
    margin-right: 0
}

.value-limited li .time-btn {
    width: 48px;
    height: 26px;
    margin-top: 7px;
    background: #d7d7d7;
    color: #fff;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    margin-left: 20px;
    display: none
}

.value-limited li .time-btn.active {
    background: #d6363b
}

.value-limited li .time-btn:hover {
    color: #fff;
    cursor: pointer
}

.auction-time li {
    margin-right: 15px
}

.error {
    line-height: 40px;
    color: #d6363b;
    margin-left: 10px
}

.pagination {
    margin: 0 0 50px
}

.auction-publistype .value-limited a span {
    margin-right: 39px
}